alloy:
  controller:
    type: daemonset

  mounts:
    varlog: true

  configMap:
    content: |
      loki.write "loki" {
        endpoint {
          url = "http://loki-gateway.monitoring.svc.cluster.local/loki/api/v1/push"

          basic_auth {
            username = env("LOKI_USERNAME")
            password = env("LOKI_PASSWORD")
          }
        }
      }

      loki.source.kubernetes.pods "pods" {
        forward_to = [loki.process.production.receiver]
      }

      loki.process "production" {
        forward_to = [loki.write.loki.receiver]

        stage.match {
          selector = "{namespace!=\"production\"}"
          action   = "drop"
        }
      }

extraEnv:
  - name: LOKI_USERNAME
    valueFrom:
      secretKeyRef:
        name: loki-basic-auth
        key: username

  - name: LOKI_PASSWORD
    valueFrom:
      secretKeyRef:
        name: loki-basic-auth
        key: password
