alloy:
  configMap:
    enabled: true
    content: |
      secret "loki_auth" {
        user = env("LOKI_USER")
        password = env("LOKI_PASS")
      }

      loki.write "default" {
        endpoint {
          url = "http://loki-gateway.monitoring.svc.cluster.local/loki/api/v1/push"
          basic_auth {
            username = secret.loki_auth.user
            password = secret.loki_auth.password
          }
        }
      }

      discovery.kubernetes "pods" {
        role = "pod"
      }

      loki.source.kubernetes "src" {
        targets    = discovery.kubernetes.pods.targets
      }

      loki.process "filter" {
        forward_to = [loki.write.default.receiver]

        stage {
          match {
            selector = "{namespace!=\"production\"}"
            action   = "drop"
          }
        }
      }

  extraEnv:
    - name: LOKI_USER
      valueFrom:
        secretKeyRef:
          name: loki-basic-auth
          key: username
    - name: LOKI_PASS
      valueFrom:
        secretKeyRef:
          name: loki-basic-auth
          key: password
