alloy:
  configMap:
    content: |
      loki.write "loki" {
        endpoint {
          url = "http://loki-gateway.monitoring.svc.cluster.local/loki/api/v1/push"

          tenant_id = "production"  # <-- THIS FIXES "no org id"

          basic_auth {
            username = env("LOKI_USERNAME")
            password = env("LOKI_PASSWORD")
          }
        }
      }

      loki.source.kubernetes "pods" {
        namespaces = ["production"]

        forward_to = [loki.process.production.receiver]
      }

      loki.process "production" {
        forward_to = [loki.write.loki.receiver]

        stage {
          labels {
            values = {
              namespace = "namespace",
              pod       = "pod",
              container = "container",
              node      = "node"
            }
          }
        }
      }

  mounts:
    varlog: true
    containers: true

extraEnv:
  - name: LOKI_USERNAME
    valueFrom:
      secretKeyRef:
        name: loki-basic-auth
        key: username

  - name: LOKI_PASSWORD
    valueFrom:
      secretKeyRef:
        name: loki-basic-auth
        key: password
