alloy:
  enabled: true

  controller:
    type: daemonset

  mounts:
    varlog: true

  extraEnv:
    - name: LOKI_USERNAME
      valueFrom:
        secretKeyRef:
          name: loki-basic-auth
          key: username
    - name: LOKI_PASSWORD
      valueFrom:
        secretKeyRef:
          name: loki-basic-auth
          key: password

  configMap:
    content: |
      loki.write "loki" {
        endpoint {
          url       = "http://loki-gateway.monitoring.svc.cluster.local/loki/api/v1/push"
          tenant_id = "production"

          basic_auth {
            username = env("LOKI_USERNAME")
            password = env("LOKI_PASSWORD")
          }
        }
      }

      discovery.kubernetes "pods" {
        role = "pod"
      }

      loki.source.kubernetes "pods" {
        targets    = discovery.kubernetes.pods.targets
        forward_to = [loki.process.production.receiver]
      }

      loki.process "production" {

        stage.match {
          selector = "{namespace!=\"production\"}"
          action   = "drop"
        }

        stage.labels {
          values = {
            namespace = "namespace",
            pod       = "pod",
            container = "container",
          }
        }

        forward_to = [loki.write.loki.receiver]
      }
