// ----------------------------------------------------
// Discover ONLY production namespace pods
// ----------------------------------------------------
discovery.kubernetes "pods" {
  role = "pod"

  namespaces {
    names = ["production"]
  }
}

// ----------------------------------------------------
// Read container logs from nodes
// ----------------------------------------------------
loki.source.kubernetes "pods" {
  targets    = discovery.kubernetes.pods.targets
  forward_to = [loki.write.loki.receiver]
}

// ----------------------------------------------------
// Send logs to Loki via gateway (basic auth)
// ----------------------------------------------------
loki.write "loki" {
  endpoint {
    url = "http://loki-gateway.monitoring.svc.cluster.local/loki/api/v1/push"

    basic_auth {
      username = env("LOKI_USER")
      password = env("LOKI_PASS")
    }
  }
}
