deploymentMode: SingleBinary

loki:
  commonConfig:
    replication_factor: 1

  storage:
    type: filesystem

  limits_config:
    retention_period: 7d

  compactor:
    retention_enabled: true

singleBinary:
  replicas: 1
  persistence:
    enabled: true
    size: 10Gi
