loki:
  auth_enabled: false

  commonConfig:
    replication_factor: 1

  storage:
    type: filesystem

  schema_config:
    configs:
      - from: "2024-01-01"
        store: tsdb
        object_store: filesystem
        schema: v13
        index:
          prefix: index_
          period: 24h

  storage_config:
    tsdb_shipper:
      active_index_directory: /var/loki/index
      shared_store: filesystem

    filesystem:
      directory: /var/loki/chunks

  limits_config:
    retention_period: 7d

  compactor:
    retention_enabled: true

deploymentMode: SingleBinary

singleBinary:
  replicas: 1
  persistence:
    enabled: true
    size: 10Gi
