deploymentMode: SimpleScalable

loki:
  auth_enabled: false

  commonConfig:
    replication_factor: 1

  storage:
    type: filesystem
    filesystem:
      chunks_directory: /var/loki/chunks
      rules_directory: /var/loki/rules
      wal_directory: /var/loki/wal

  schema_config:
    configs:
      - from: "2024-01-01"
        store: tsdb
        object_store: filesystem
        schema: v13
        index:
          prefix: loki_index_
          period: 24h

  limits_config:
    retention_period: 7d

backend:
  replicas: 1

read:
  replicas: 1

write:
  replicas: 1

ingester:
  replicas: 1
distributor:
  replicas: 1
querier:
  replicas: 1
queryFrontend:
  replicas: 1

gateway:
  enabled: false

# Persistent volumes for each component
backend.persistence:
  enabled: true
  size: 5Gi

write.persistence:
  enabled: true
  size: 5Gi

read.persistence:
  enabled: true
  size: 5Gi
