loki:
  storage:
    type: filesystem

  compactor:
    retention_enabled: true

  limits_config:
    retention_period: 7d

write:
  replicas: 1

read:
  replicas: 1

backend:
  replicas: 1

singleBinary:
  enabled: false

gateway:
  enabled: false

chunksCache:
  enabled: false

resultsCache:
  enabled: false
