loki:
  auth_enabled: false

singleBinary:
  replicas: 1
  persistence:
    enabled: true
    size: 10Gi

  extraArgs:
    - -config.expand-env=true

  nodeSelector: {}
  tolerations: []

config:
  ruler:
    alertmanager_url: http://alertmanager:9093

  schema_config:
    configs:
    - from: "2023-01-01"
      store: tsdb
      object_store: filesystem
      schema: v13
      index:
        prefix: loki_index_
        period: 24h

  storage_config:
    filesystem:
      chunks_directory: /var/loki/chunks
      rules_directory: /var/loki/rules

  compactor:
    working_directory: /var/loki/compactor
    shared_store: filesystem

  limits_config:
    retention_period: 7d
