# In infrastructure/kubernetes/monitoring/loki/promtail-values.yaml

server:
  log_level: info
  log_format: logfmt
  http_listen_port: 3101

clients:
  - basic_auth:
      password: ${LOKI_PASS}
      username: ${LOKI_USER}
    headers:
      X-Scope-OrgID: fake
    url: http://loki-gateway.monitoring.svc.cluster.local:80/loki/api/v1/push

positions:
  filename: /run/promtail/positions.yaml

scrape_configs:
  # 1. JOB: API BACKEND
  - job_name: production/api-logs
    pipeline_stages:
      - cri: {}
    kubernetes_sd_configs:
      - role: pod
    relabel_configs:
      - source_labels: [__meta_kubernetes_namespace, __meta_kubernetes_pod_label_app]
        regex: 'production;api' # Matches combined string
        action: keep
      - source_labels: [__meta_kubernetes_pod_label_app]
        target_label: app
        action: replace
      - source_labels: [__meta_kubernetes_namespace]
        target_label: namespace
        action: replace

  # 2. JOB: FRONTEND
  - job_name: production/frontend-logs
    pipeline_stages:
      - cri: {}
    kubernetes_sd_configs:
      - role: pod
    relabel_configs:
      - source_labels: [__meta_kubernetes_namespace, __meta_kubernetes_pod_label_app]
        regex: 'production;frontend'
        action: keep
      - source_labels: [__meta_kubernetes_pod_label_app]
        target_label: app
        action: replace
      - source_labels: [__meta_kubernetes_namespace]
        target_label: namespace
        action: replace

  # 3. JOB: POSTGRES
  - job_name: production/postgres-logs
    pipeline_stages:
      - cri: {}
    kubernetes_sd_configs:
      - role: pod
    relabel_configs:
      - source_labels: [__meta_kubernetes_namespace, __meta_kubernetes_pod_label_app]
        regex: 'production;postgres'
        action: keep
      - source_labels: [__meta_kubernetes_pod_label_app]
        target_label: app
        action: replace
      - source_labels: [__meta_kubernetes_namespace]
        target_label: namespace
        action: replace

  # 4. JOB: SYSTEM/DEFAULT (Drops specific apps to prevent duplicates)
  - job_name: kubernetes-pods
    pipeline_stages:
      - cri: {}
    kubernetes_sd_configs:
      - role: pod
    relabel_configs:
      - source_labels: [__meta_kubernetes_pod_label_app]
        regex: api|frontend|postgres|postgres-exporter
        action: drop
      - action: replace
        source_labels: [__meta_kubernetes_namespace]
        target_label: namespace
      - action: replace
        source_labels: [__meta_kubernetes_pod_name]
        target_label: pod
      - action: replace
        source_labels: [__meta_kubernetes_pod_container_name]
        target_label: container
      - action: keep
        source_labels: [__meta_kubernetes_namespace]
        regex: production|monitoring|longhorn-system