config:
  clients:
    - url: http://loki.monitoring.svc.cluster.local:3100/loki/api/v1/push

  snippets:
    scrape_configs:
      - job_name: kubernetes-pods
        kubernetes_sd_configs:
          - role: pod
        relabel_configs:
          - source_labels: [__meta_kubernetes_namespace]
            target_label: namespace
          - source_labels: [__meta_kubernetes_pod_name]
            target_label: pod
          - source_labels: [__meta_kubernetes_pod_uid]
            target_label: pod_uid
          - source_labels: [__meta_kubernetes_container_name]
            target_label: container
          - action: replace
            replacement: "/var/log/pods/*$1/*.log"
            source_labels: [__meta_kubernetes_pod_uid]
            target_label: __path__
clients:
  - url: http://loki.monitoring.svc.cluster.local:3100/loki/api/v1/push
