# prometheus-values.yaml

prometheus:
  prometheusSpec:
    # --- STORAGE ATTACHMENT ---
    storageSpec:
      volumeClaimTemplate:
        spec:
          storageClassName: longhorn
          accessModes: ["ReadWriteOnce"]
          resources:
            requests:
              storage: 10Gi

    # --- RETENTION & DISCOVERY ---
    retention: 2d
    retentionSize: "8GB"
    
    # Allow Prometheus to find your PodMonitor regardless of labels
    podMonitorSelectorNilUsesHelmValues: false
    podMonitorNamespaceSelector:
      any: true

    # --- SCRAPE FILTERS ---
    additionalScrapeConfigs:
      - job_name: 'namespace-filter-drop-list'
        kubernetes_sd_configs:
          - role: pod
        relabel_configs:
          - source_labels: [__address__]
            regex: '.*:(6379|5432)'
            action: drop
          - source_labels: [__meta_kubernetes_namespace]
            regex: 'kube-system|kube-public|monitoring|argocd|default|cattle-system|kube-node-lease'
            action: drop

# --- NEW ALERTMANAGER SECTION ---
alertmanager:
  alertmanagerSpec:
    storage:
      volumeClaimTemplate:
        spec:
          storageClassName: longhorn
          accessModes: ["ReadWriteOnce"]
          resources:
            requests:
              storage: 1Gi  # Alertmanager database for silences is very small


grafana:
  persistence:
    enabled: true
    storageClassName: longhorn
    accessModes: ["ReadWriteOnce"]
    size: 2Gi